<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\style.css" />
</head>
<body>
    <h1 class="mt-5 mb-4">To check your HTML code click the link below</h1>
    <a href="https://gfg-hack-a-thon.onrender.com/api/data/htmlCode/<%= output %>">Validate Your HTML Code</a>
</body>
</html>
<!-- form created -->
