<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="mt-5 mb-4">Provide your code</h1>
<form action="/api/data/htmlCode/" method="post" >
    <!-- enctype  = multipart/form-data means we are sending files as well as form data -->
    <div class="mb-3">
    <label for="desc" class="form-label">Code input</label>
    <textarea class="form-control" id="desc" name="desc"></textarea>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit Code</button>
</form>
</body>
</html>
<!-- form created -->
