<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\style.css" />
</head>
<body>
    <h1 class="mt-5 mb-4">Provide your code</h1>
    <form action="/api/data/htmlCode/<%= id %>" method="post">
        <div class="common-form">
        <label for="quer" class="form-label">Queries to be Validated</label>
         <textarea placeholder="<%= query %>" style="width: 99%; height: 100%;" id="quer" disabled></textarea>
        </div>
        <div class="common-form">
            <label for="desc" class="form-label">Code input</label>
            <textarea class="form-control" id="desc" name="desc" style="width: 99%; height: 90%;"></textarea>
        </div>
        <button type="submit">Run and Test</button>
      </form>
<!-- <form action="/api/data/htmlCode/<%= id %>" method="post" >
    <div class="mb-3">
    <label for="desc" class="form-label">Code input</label>
    <textarea class="form-control" id="desc" name="desc"></textarea>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Run and Test</button>
</form> -->
</body>
</html>
<!-- form created -->
