<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment</title>
    <link rel="stylesheet" href="\style.css" />
  </head>
  <body>
       <form action="/api/data/queryData/" method="post">
         <div class="common-form">
          <!-- <input type="text" name="query_text" placeholder="Enter queries in text form here" style="width: 100%; height: 100%;"> -->
          <textarea name="query_text" placeholder="Enter queries in text form here" style="width: 100%; height: 100%;"></textarea>
         </div>
         <div class="common-form">
          <!-- <input type="text" name="query_in_string" placeholder="Enter queries in string form here" style="width: 100%; height: 100%;"> -->
          <textarea name="query_in_string" placeholder="Enter queries in string form here" style="width: 100%; height: 100%;"></textarea>
         </div>
         <button type="submit">Submit the Queries</button>
       </form>
  </body>
</html>
